h6{
    font-size: 12px;
}
.main-section{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .bg-ser{
    background-image: url(../images/servises\ background.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .bg-3{
    background-image: url(../images/bg-port.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .bg-look{
    background-image: url(../images/stats\ background.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .bg-says{
    background-image: url(../images/textmonials\ backgrounds.png);
    background-repeat: no-repeat;  
    width: 100%;
    height: 100vh;
    background-size:100% 100% !important;
  }
  .bg-says-2{
    background-image: url(../images/bgg.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
  }
  .bg-main{
      background-color: #ff9900;
  }
  .btn-nav{
      background-color: #ff9900;
      color: white !important;
      padding: 3px 22px;
      font-weight: 400 !important;
      font-size: 14px;
      border-radius: 25px;
      text-align: center;
  }
  .btn-view{
      border: 2px solid white;
    background-color: transparent;
    color: white !important;
    padding: 6px 22px;
    font-weight: 400 !important;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
}
  .nav-link:hover{
      border-bottom: 1px solid #ff9900;
  }
  .active-tab{
    border-bottom: 1px solid #ff9900;
    font-weight: bold !important;
  }

  .btn-read{
    background-color: #ff9900;
    color: white !important;
    padding: 4px 20px;
    font-weight: 400 !important;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
  }
  .btn-read:hover{
    background-color: transparent;
    color: #ff9900!important;
    border-color: #ff9900;
    padding: 4px 20px;
    font-weight: 400 !important;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
  }
  .btn-send{
    background-color: #ff9900;
    color: white !important;
    padding: 6px 40px;
    font-weight: 400 !important;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
  }
  .btn-send:hover{
    background-color: transparent;
    color: #ff9900 !important;
    border-color: #ff9900;
    padding: 6px 40px;
    font-weight: 400 !important;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
  }
  /* custom carousel */
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 10%;
    background-color: #ff9900;
}
.carousel-indicators {
    bottom: -60px;
}
/* carousel end */
.inner {
    width: 80px;
    height: 1px;
    margin: 0px auto;
    padding-top: 0.5rem;
    border-bottom: 2px solid #ff9900;
}
.inner2 {
    width: 80px;
    height: 1px;
    margin: 0px auto;
    padding-top: 0.5rem;
    border-bottom: 2px solid white;
}
.left-center{
text-align: left;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control:focus{
  outline:none;
  box-shadow:none;
}
.box-style{
    box-shadow: 0 2px 4px 0 rgba(65, 48, 48, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
     border-right: 2px solid #ececec;
  }
  .up-margin{
    margin-top: -7rem;
  }
  .img-margin{
    margin-top: -17rem;
  }
  .form-prop{
    border-radius: 25px !important; 
    border: #ff9900 !important;   
    box-shadow: 0 2px 4px 0 rgba(65, 48, 48, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
  }
  .top-position{
    padding-top: 7.5rem;
     padding-bottom: 20rem;
  }
@media (max-width: 780px){
    .bg-3{
        background-image: url(../images/bg-port.png);
        background-repeat: no-repeat;  
        width: 100%;
        background-size:unset!important;
      }
      .bg-says{
        background-image: url(../images/textmonials\ backgrounds.png);
        background-repeat: no-repeat;  
        width: 100%;
        height: auto;
        background-size:100% 100% !important;
      }
      .main-section{
        background-image: url(../images/background.png);
        background-repeat: no-repeat;  
        width: 100%;
        background-size:auto 100% !important;
      }
      .bg-says-2{
        background-image: url(../images/bgg.png);
        background-repeat: no-repeat;  
        width: 100%;
        height: auto;
        background-size:100% 100% !important;
      }
      .top-position{
        padding-top: 6rem;
         padding-bottom: 10rem;
      }
      .left-center{
        text-align:center;
        }
        .up-margin{
          margin-top: 0rem;
        }
        .img-margin{
          margin-top: -10rem;
        }
        .resp-margin{
          margin-left: 1rem;
        }
        .form-margin{
          margin-top: 3rem;
        }
}

/* =========================================================Blog====================================== */
.blog-section{
  background-image: url(../images/Group\ 114.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.footer-bg{
  background-image: url(../images/Group\ 70.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.shadow-card{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}
.shadow-card-2{
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19); 
}
.blog-link{
color: #ff9900 !important;
font-weight: 500;
}
.p-blog{
  padding-top: 9rem;
   padding-bottom:9rem;
}
.bg-blog{
  background-color: #fcf8f8;
}
@media (max-width: 780px){
  .footer-bg{
    background-image: url(../images/Group\ 70.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
  .p-blog{
    padding-top: 2rem;
     padding-bottom:2rem;
  }
}
/* ==================================contact============================================ */
.contact-section{
  background-image: url(../images/contact_bg.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.btn-send-2{
  background-color: #ff9900;
  color: white !important;
  padding: 6px 40px;
  font-weight: 400 !important;
  font-size: 14px;
  text-align: center;
}
.btn-send-2:hover{
  background-color: transparent;
  color: #ff9900 !important;
  border-color: #ff9900;
  padding: 6px 40px;
  font-weight: 400 !important;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 780px){
  .contact-section{
    background-image: url(../images/contact_bg.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
}
/* ===========================================team========================== */
.team-section{
  background-image: url(../images/bg_team.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.text-team{
  font-size: 0.6em;
  font-weight: 600;
}
.head-text{
  font-size: 0.9em;
}
.text-team-2{
  font-size: 0.6em;
  font-weight: 600;
}
@media (max-width: 780px){
  .team-section{
    background-image: url(../images/bg_team.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
}
/* =======================================Executiive amessage==================================== */
.message-section{
  background-image: url(../images/Group\ 126.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:25% 100% !important;
  background-position: right;
}
@media (max-width: 780px){
  .message-section{
    background-image: unset;
    background-repeat: no-repeat;  
    width: 100%;
    background-size:25% 100% !important;
    background-position: right;
  }
}
/* =================================career==================================================== */
.box-style2{
  border-radius: 2px;
   box-shadow: 0 0 2px rgba(0,0,0,0.3) inset, 0 0 2px rgba(0,0,0,0.3);
   border-left: 5px solid #ff9900;
   background-color: #f9f5f5;
}
.font-career{
  font-size: 14px !important;
}
.inner3 {
  width: 60px;
  height: 1px;
  margin: 0px ;
  padding-top: 0.5rem;
  border-bottom: 2px solid #ff9900;
}
.career-section{
  background-image: url(../images/bg-career.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.text-oranje{
  color: #ff9900;
}
.border-form{
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 0px !important;
}
.btn-apply{
  background-color: #ff9900;
  color: white !important;
  padding: 4px 35px;
  font-weight: 400 !important;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;
}
.btn-apply:hover{
  background-color: transparent;
  color: #ff9900!important;
  border-color: #ff9900;
  padding: 4px 35px;
  font-weight: 400 !important;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;
}
.image-upload>input {
  display: none;
}
.position-btn{
position: absolute;
top: 194px;
right: 20px;
}
.text-small{
  font-size: 14px;
  border-left: 2px solid #ff9900;
}
@media (max-width: 780px){
  .career-section{
    background-image: url(../images/bg-career.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
}
/* ==============================================About us============================================== */
.about-section
  {
    background-image: url(../images/bg-about.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
}
.mission-section{
    background-image: url(../images/mission-bg.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:100% 100% !important;
}
.text-link{
  color: black;
  font-weight: 600;
  font-size: 0.8em;
}
.text-link:hover{
   padding-bottom: 0.5rem;
    border-bottom: 2px solid #ff9900;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}
.misson-font{
  font-size: 14px;
  font-weight: bold;
}
.bullet-font{
font-size: 0.9em;
font-weight: 450;
}
@media (max-width: 780px){
  .about-section
  {
    background-image: url(../images/bg-about.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size: auto 100% !important;
}
.mission-section{
  background-image: url(../images/mission-bg.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:auto 100% !important;
}
}
/* =====================================services=========================== */
.btn-services{
  background-color: rgb(36, 36, 36);
  border: 2px solid  rgb(36, 36, 36);
  color: white;
  padding: 4px 22px;
  font-size: 12px;
  border-radius: 25px;
}
.btn-services:hover{
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 4px 22px;
  font-size: 12px;
  border-radius: 25px;
}
.img-service{
  position: absolute; 
  right: -25px; 
  top: -30px;
}
.box-service{
  border: 1px solid #ff9900; 
  border-radius: 20px;
   position: relative;
}
.service-section{
  background-image: url(../images/bg-services.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
@media (max-width: 780px){
  .service-section{
    background-image: url(../images/bg-services.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
}
/* =====================================Portfolio============================================ */
.portfolio-section{
  background-image: url(../images/bg-portfolio.png);
  background-repeat: no-repeat;  
  width: 100%;
  background-size:100% 100% !important;
}
.text-port{
  font-size: 0.7em;
  font-weight: 650;
}
.pointer{
  cursor: pointer;
}
.main{
  border-radius:10px;
  overflow:hidden;
}
.main:hover #Library{
  transform: scale(1.1);
  transition: all 0.9s ease-in;
}

.box-deco{
  margin-top: -4rem; 
  border-radius: 5px;
}
@media (max-width: 780px){
  .portfolio-section{
    background-image: url(../images/bg-portfolio.png);
    background-repeat: no-repeat;  
    width: 100%;
    background-size:auto 100% !important;
  }
  .box-deco{
    margin-top: -2rem; 
    border-radius: 5px;
  }
}
/* ===========================================portfolio Detail======================= */
.heading-size{
  font-size: 18px;
}
.inner4 {
  width: 60px;
  height: 1px;
  margin: 0px ;
  padding-top: 0.4rem;
  border-bottom: 2px solid #ff9900;
}
.box-style3{
  border-radius: 2px;
   box-shadow: 0 0 2px rgba(0,0,0,0.3) inset, 0 0 2px rgba(0,0,0,0.3);
   border-left: 5px solid #ff9900;
   background-color: #000000;
   color: white;
}
.text-box{
  font-size: 12px;
}
/* =================================services detail================================= */
.text-ser{
  font-size: 14px;
}



/* ========================================aditional====================================== */
.float-card{
	position:fixed;
	width:120px;
  height:60px;
  bottom:280px;
	right:0px;
	border-radius:50px;
  text-align:center;
  z-index: 1;
}

